*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* COMMON */

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.t-white{
    color: white;
}

.t-red{
    color: red;
}

.background{
    background-color: #ff6900;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
}

.container{
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container-card{
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    max-width: 1000px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* HEADER */
.menu-item1{
    display: flex;
} 

.menu-item1 li{
    list-style-type: none;
    /* padding: 10px 0 0 10px; */
}


.item{
    padding-left: 10px;
    padding-right: 10px;
}

/* MAIN */
.card{
    width: 300px;
    height: 430px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 50px;

    /* debug */
    background-color: black;   
}

.card:hover .image1{
    /* transform: scale(1.1); */
    display: none;
}

.image1{
    width: 100%;
    position: absolute;
}

.image1b{
    width: 100%;
    position: absolute;
}

.discount{
    position: absolute;
    top: 400px;
    left: 4px;
    background-color: red;
    padding: 3px 6px 3px 6px;
    font-size: .8em;
    border-radius: 8px;
}

.label{
    position: absolute;
    top: 400px;
    left: 50px;
    background-color: green;
    padding: 3px 6px 3px 6px;
    font-size: .8em;
    border-radius: 8px;
}

.brand{
    position: absolute;
    top: 100%;
    padding-top: 5px;
    font-size: .8em;
}

.title{
    position: absolute;
    top: 450px;

}

.n-price{
    position: absolute;
    top: 470px;
}

.o-price{
    position: absolute;
    top: 470px;
    left: 55px;
    text-decoration: line-through;
}

/* FOOTER */
.end{
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    height: 80px;
    width: 100%;
    margin-top: 100px;
}

/* .footer-box{
    background-color: #1a1a1a;
    height: 80px;
    width: 100%;
    margin-top: 100px;
} */

.name{
    padding-top: 20px;
    padding-left: 100px;
}

.info{
    margin-top: 15px;
    padding-left: 100px;
    font-size: .8em;
}

.social{
    height: 50px;
    padding-top: 20px;
    padding-right: 100px;
}
